<h2>News</h2>

<div class="container-fluid">
  <div class="row">

    <div class="card-columns">

      <div class="card" *ngFor="let article of (articles$ | async)">
        <img class="card-img-top" *ngIf="article.urlToImage" [src]="article.urlToImage" [alt]="article.title" />

        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{ article.description }}</p>
          <a class="btn btn-primary" [href]="article.url">Go somewhere</a>
        </div>
      </div>

    </div>

  </div>
</div>
